body {
	background-color: Azure;
}
img {
	display: block;
    margin: auto;
}
h1 {
	font-size: 300%;
	text-align: center;
}
p {
	background-color: Tomato;
	text-align: center;
}
img {
    display: block;
    margin: auto;
}